[project]
	description = Some tiny code re-factoring practices.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amin Khorsandi (CoffeMug)
[access "refs/for/refs/*"]
	read = group user/Amin Khorsandi (CoffeMug)
	push = group user/Amin Khorsandi (CoffeMug)
	label-Code-Review = -2..+2 group user/Amin Khorsandi (CoffeMug)
	label-Verified = -1..+1 group user/Amin Khorsandi (CoffeMug)
	rebase = group user/Amin Khorsandi (CoffeMug)
	removeReviewer = group user/Amin Khorsandi (CoffeMug)
	submit = group user/Amin Khorsandi (CoffeMug)
[access "refs/heads/*"]
	read = group user/Amin Khorsandi (CoffeMug)
	create = group user/Amin Khorsandi (CoffeMug)
	push = +force group user/Amin Khorsandi (CoffeMug)
	pushMerge = group user/Amin Khorsandi (CoffeMug)
[access "refs/tags/*"]
	push = +force group user/Amin Khorsandi (CoffeMug)
	pushTag = group user/Amin Khorsandi (CoffeMug)
	pushSignedTag = group user/Amin Khorsandi (CoffeMug)
